
@{
    ViewBag.Title = "Human Resource Management System";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.PageHead = "Document Management";
}

<div class="col-md-4">
    @using (Html.BeginForm("AddDoc", "Docs", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "error-class" })
        <h4> <strong> Add New Document</strong></h4>
        <span class="error-class">@ViewBag.FoundError</span>
        <br />
        <label>Document Name</label>
        <input type="text" class = "form-control" name="docname" required="required" />
        <br />
        <label>Choose File</label>
        <input type="file" name="fileposted" class = "form-control"  />
        <br />
        <input type="submit" class="btn btn-info" value="Add Document" />
        <br /><br />
    }

</div>
<div class="col-md-8">
    <h4><strong>Manage Document</strong></h4>
    <span class="text-danger">
        If you made some mistake while uploading, than please delete that document and upload again.
    </span>
  
    <hr />
    <div class="table-responsive">

        @{
            if (ViewBag.DocList == null || Enumerable.Count(ViewBag.DocList) == 0)
            {
                <div class="alert alert-danger">No Data Found</div>
            }
            else
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> ID</th>
                            <th>File Name </th>
                            <th>Added On </th>
                            <th># Delete </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.DocList)
                        {
                            <tr>
                                <td>@item.DocId</td>
                                <td>@item.DocName</td>
                                <td>@item.DateAdded.ToString().Replace("12:00:00 AM","")</td>
                            
                                <td>
                                    @using (Html.BeginForm("Deletedoc", "Docs", new { id = item.DocId }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete - @item.DocName');">Delete </button>
                                    }
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            }

        }


    </div>



</div>

@section MainSidebar {

    @Html.Partial("_MenuPartial")

}





